.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.profileFather {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 90px;
    padding-bottom: 10rem;
}

.profileCont {
    background: linear-gradient(to bottom, #ffffff, rgb(197, 197, 197));
    filter: drop-shadow(0px 0px 4px black);
    width: 100%;
    min-width: 300px;
    max-width: 2000px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.userIcon {
    border-radius: 100%;
    border: solid;
    border-width: 2px;
    border-color: white;
    filter: drop-shadow(0px 0px 4px black)
}

.profileCont p {
    margin: 0;
    padding: 0;
}

.profileCont h1 {
    margin: 0;
    padding: 0;
}

.buttons {
    position: relative;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

.buttons>button {
    margin-bottom: 10px;
}

.deleteAccount {
    background-color: rgba(0, 0, 0, 0.98);
    width: 70%;
    height: 400px;
    left: 15%;
    top: 100px;
    position: fixed;
    box-shadow: 0px 0px 10px rgb(73, 32, 32);
    display: none;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 1380px) {

}