.container{
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.adminBtn{
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 105px;
    height: 40px;
    border-radius: 2px;
    padding-left: 25px;
    padding-right: 25px;
    transition-duration: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b9b9b9c9;
    margin-bottom: 1rem;
}

.adminBtn:hover{
    cursor: pointer;
    background-color: #dbdbdbc9;
}