.ulCheck {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.liCheck {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.divCheckCont {
    width: 100%;
    height: 400px;
    min-width: 300px;
    border-radius: 15px;
    display: flex;
    list-style: none;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(0px 0px 3px black);
    background: linear-gradient(to bottom, #ffffff, rgb(197, 197, 197));
}

.divDescription {
    width: 250px;
    height: 300px;
    margin-top: 100px;
    left: 10px;
    position: absolute;
    text-align: start;
    font-family: Product Sans, sans-serif;
    font-weight: thin;
    list-style: none;
}

.btnSubmitEnabled {
    height: 40px;
    width: 200px;
    bottom: 30px;
    position: absolute;
    border: none;
    border-radius: 70px;
    background-color: #171717;
    filter: drop-shadow(0px 0px 4px black);
    color: aliceblue;
    font-family: Bebas Neue;
    font-size: 20px;
    transition-duration: .3s;
}

.btnSubmitFree,
.btnSubmitDisabled {
    height: 40px;
    width: 200px;
    bottom: 30px;
    position: absolute;
    border: none;
    border-radius: 70px;
    color: aliceblue;
    font-family: Bebas Neue;
    font-size: 20px;
    background-color: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSubmitFree,
.btnSubmitDisabled:hover {
    cursor: not-allowed;
}

.btnSubmitEnabled:hover {
    background-color: aliceblue;
    color: #171717;
}

.divPrice {
    width: 250px;
    height: 40px;
    position: absolute;
    margin-top: 50px;
}

@media only screen and (max-width: 800px) {
    .ulCheck {
        flex-direction: column;
    }
}