.appsContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-left: 10px;
/*   display: none;
 */  flex-direction: column;
  gap: 5px;
  transition-duration: .4s;
  z-index: 9999;
}

.appsContainer li {
  transition-duration: .4s;
  background-color: #171717;
  height: 65px;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid rgb(130, 128, 128) 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgb(130, 128, 128);
  scale: 0;
}

.appsContainer li:hover {
  cursor: pointer;
  border-color: white;
  background: linear-gradient(to top, rgb(255, 255, 255), #171717 99%);
  color: #171717;
}