.container {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

@media only screen and (min-width: 2000px) {
  .loaderContainer {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .loaderContainer {
    padding-right: 25px;
  }
}