.tag {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tag p {
  background-color: #171717;
  color: white;
  padding-left: .8rem;
  padding-right: .8rem;
  font-size: smaller;
  font-family: Sans, sans-serif;
  border-radius: 5px;
}

.tag p:hover {
  background-color: #272727;
}