.favIcon {
    filter: grayscale(1);
}

.favIcon:hover {
    filter: grayscale(0);
}

.viewer {
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: flex;
}

.backgroundCanvas {
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.background {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    animation-timing-function: ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.viewerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    height: 100vh;
    width: 100%;
    animation-timing-function: ease-in-out;
}

.viewerArtist {
    width: fit-content;
    align-content: center;
}

.viewerArtist p {
    color: #ffffff;
    text-decoration: overline;
    font-size: 18px;
    opacity: 0.7;
    padding: 0;
    margin: 0;
}

.viewerArtist p:hover {
    opacity: 1;
    cursor: pointer;
}

.viewerTitle p {
    font-size: 50px;
    color: #ffffff;
    text-shadow: #000000;
    filter: drop-shadow(1px 1px 2px #000000);
    padding: 0;
    margin: 0;
}

.viewerCanvas {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000000 97%);
    width: 100%;
    height: 100vh;
    position: absolute;
}

.viewerDescription {
    width: 410px;
    height: 100px;
    top: 100px;
    color: #ffffffd4;
    font-family: Product Sans, sans-serif;
}

.viewerDescription p {
    font-weight: 100;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.sectionsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    min-height: 500px;
}

.playerSection {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.viewMediaTypesList {
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    list-style: none;
    padding-bottom: 1rem;
}

.visorPostArtista,
.visorPostTitulo,
.visorInfo {
    padding: 0;
    margin: 0;
}

.loaderContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewMediaTypesCont {
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    display: flex;
}

@media only screen and (max-width: 1380px) {
	.viewerInfo {
		padding-left: 25px;
		padding-right: 35px;
	}
}