.backContainer {
    font-family: Bebas Neue;
    font-size: 20px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    opacity: .8;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.backIcon {
    rotate: 180deg;
    margin-right: 5px;
    margin-top: -3px;
    opacity: .8;
}

.backContainer,
.backIcon {
    transition-duration: 1s;
}

.backContainer:hover,
.backIcon:hover {
    opacity: 1;
}

@media only screen and (max-width: 1380px) {
    .backContainer {
        margin-right: -10px;
    }
}