.enterBtn {
  font-family: Bebas Neue;
  color: rgba(255, 255, 255, 0.781);
  transition-duration: .5s;
  z-index: 9999999;
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 5px;
}

.enterBtn:hover {
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 1380px) {
  .enterBtn {
    margin-right: 5px;
  }
}