.logo {
  top: 10px;
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  position: absolute;
}

.logoButton {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-top: 13px;
  transition-duration: 1s;
}

.ruinaLogo {
  opacity: 0.7;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ruinaLogo:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 1s;
}

.appsContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
  transition-duration: .4s;
}

.appsContainer li {
  transition-duration: .4s;
  background-color: #171717;
  height: 65px;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid rgb(130, 128, 128) 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgb(130, 128, 128);
  scale: 0;
}

.appsContainer li:hover {
  cursor: pointer;
  border-color: white;
  background: linear-gradient(to top, rgb(255, 255, 255), #171717 99%);
  color: #171717;
}