.innerNavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 2000px;
}

.leftSection,
.rightSection {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}