.innerNavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.leftSection,
.rightSection {
  width: 200px;
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 65px;
}