.innerNavContainer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 2000px;
}

.leftSection,
.rightSection {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
}

.leftSection {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
  flex-direction: column;
  gap: 7px;
}

.rightSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.middleSection {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 2000px) {
  .leftSection {
    padding-left: 50px;
  }

  .rightSection {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1300px) {
  .leftSection {
    padding-left: 0;
  }

  .rightSection {
    padding-right: 0;
  }
}