.profileCont {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
}

.profileBtnCont {
    margin: 0;
    padding: 0;
    width: 200px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    transition-duration: 1s;
}

.profileBtnMenu {
    margin: 0;
    padding: 0;
    font-family: Bebas Neue;
    color: rgba(255, 255, 255, 0.781);
    transition-duration: .5s;
    z-index: 999999999999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    gap: .5rem;
}

.btnMenuTv {
    opacity: .8;
    rotate: 90deg;
}

.profilePic {
    border-radius: 100%;
	border: solid;
	border-width: 2px;
}

.userIcon {
    opacity: .8;
    filter: drop-shadow(0px 0px 4px black);
}

.imgIconProf {
    border-radius: 100%;
    filter: grayscale(1);
    max-width: 25px;
    max-height: 25px;
}

.profileBtnMenu:hover,
.enterBtn:hover {
    cursor: pointer;
    color: white;
}

.optionProfileBtn {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #171717, #171717 99%);
    box-shadow: 0px 0px 4px rgb(130, 128, 128);
    border: solid;
    border-color: #8b8b8b;
    border-width: 1px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Bebas Neue;
    color: rgb(212, 212, 212);
    transition-duration: .5s;
    height: 70px;
    width: 100%;
    transform: translateX(200px);
    scale: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.liProfileMenuDisplay {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ulProfileOptions {
    gap: .5rem;
    margin: 0;
    height: 0;
    padding: 0;
    width: 100%;
    z-index: 9999;
    display: none;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
}

.optionProfileBtn:hover {
    cursor: pointer;
    border-color: white;
    background: linear-gradient(to top, rgb(255, 255, 255), #171717 99%);
    color: #171717;
}

.optionProfileBtn:hover .imgIcon {
    filter: grayscale(0);
}


.imgIcon:hover,
.imgIconProf:hover {
    filter: grayscale(0);
}

.imgIcon {
    filter: grayscale(1);
    height: 30px;
}
